
*{
	margin: 1;
	padding: 1;
	box sizing:border-box;
	font-family: 'Open sans1', sans-serif;
}



nav .nav-logo, nav .nav {
	margin: 1rem;
	display: inline;
	text-decoration: none;
	font-weight: bold;
	
}

nav .right-nav {
	text-align: right;
	padding-right: 3%;
	position: sticky;
}

.nav-logo {
	padding-left: 5%;
	float: left;

}



.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius:100px;
	padding: .75rem;
	border: none;
}

.front-bg { 
	background-size: 100%;
	min-height: 70vh;
	margin-top: 5px;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	
 }



 .container {
 	text-align: right;
 	color: white;
 	padding-left: 60%;
 	padding-right: 5%;
 	background-color: rgba(0, 0, 0, 0.4);
 	min-height: 100vh;

	

 }

.subtitle {
 	font-size: 1rem;
	font-weight: normal;

 	
 }

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 100px;
	font-size: 0.75rem;
	padding: 0.75rem;
	border: none;
	
}

.title-2 {
	text-align: center;
	padding-top: 20px;
}


.intro-description {
	font-size: 1rem;
	font-weight: normal;
	padding: 50px 300px;
}

.pre-footer {
	text-align: center;
	background-color:#f7fbfb ;
	padding: 50px 10px;

}

.prefooter-description {
	font-size: 1rem;
	font-weight: normal;
	padding: 30px 300px;
}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 100px;
	font-size: 0.75rem;
	padding: 0.75rem;
	border: none;
}
.title, .title-2 {
	font-family:'Zilla Slab1', serif  ;
	font-weight: medium;
	font-size: 2rem;
	
}

.footer {
	text-align: center;
}

.navbar {
	position: sticky;
	padding: 1x;
	top: 10px;

}